*{
    margin: 0;
    padding: 0;
}

.home-page{
    background-image: url(img/Screenshot\ from\ 2025-06-13\ 09-18-20.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 100vh;
}

.image{
    #background{
        height: 900px;
        width: 100%;
        
    }
    #logo{
        
        width: 250px;
    }
}

nav{
    margin-left: 65%;
    margin-top: -160px;
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-left: 70px;
    }
    
}

#title{
    text-align: center;
    margin-top: 10%;
    color: white;
    font-size: 100px;
}
#contact{
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-left: 80%;
    margin-top: 0px;
}
.getapp{
    background-color: rgba(128, 128, 128, 0.648);
    width: 120px;
    padding-left: 70px;
    padding: 5px;
    margin-left: 70px;
    border-radius: 10px;
}





